@import "helper/helper";
$base-color:cornflowerblue;
html{
    height: 100%;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}
body{
    background-image:url("../imgs/2227044.jpg")  ;
    background-position: center ;
    background-size: auto;
    height: 100%;
    color: darken($base-color,100%);
}
h1{
    border-bottom:2px solid black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.__center{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);

    @include ele-edit($sm){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        font-size: 3.2vw;
    };
}
#loginForm{
    margin-top: 20%;
}
.login-container{
&{
    border-top:4px solid $base-color;
    width: 500px ;height: 500px;
    padding: 50px 15px 15px 15px;
    background-color: rgba(white,.9);
    font-weight: bold;
    @include ele-edit($md){
        width:50%;
    }
}
    input[type=text] , input[type=password]{
    border:none;
    background: none;
        border-bottom:1px solid $base-color;

    }

    #admin_login{
        @extend %button-design;
    }
    .fa-user,.fa-lock{
        position: relative;
        top: -30px;
        left: 94%;
    }

    #Invalid_User{
        display: none;
        text-align: center;
        margin: 0 0 0 33%;
        box-sizing: border-box;
        font-weight: bold;
        font-size: small;
        padding: 3px !important;
        position: relative;
        top: -35px;
        width: 210px;
    }
    .error{
        color: red;
        font-size: small;
        font-weight: bold;
    }
    #loading-icon{
        color: rgba(black,1);
        z-index: 3;
        margin-left: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: xxx-large;
        @include prefixer(animation,fadeout 2s infinite linear,webkit moz o);
    }
    @include keyframe(fadeout){
        0% {
            color: rgba(yellow,.6);
            opacity: 1;
            font-size: x-large;
            @include prefixer(text-shadow, 3px 3px 1px 1px red,webkit moz o);
        }
        10%{
            color: rgba(green,.6);
            opacity: 0.5;
            font-size: xx-large;
            @include  fa-icon-rotate(150deg, 1);
        }
        30%{
            color: rgba(black,.6);
            opacity:1;
            font-size: xxx-large;
            @include  fa-icon-rotate(360deg, 1);
        }
        50% {
            color: rgba(maroon,.6);
            opacity: .5;
            font-size: x-large;
            @include  fa-icon-rotate(160deg, 1);
        }
        100% {
            color: rgba(black,.6);
            opacity: 1;
            font-size: xxx-large;
            @include  fa-icon-rotate(0deg, 1);
        }
    }

}
.plain-login{
    @include ele-edit($md){
        width:50%;
        font-size:3vw;
    }
    background-color: rgba($base-color,1);
    width: 350px;
    height: 500px;
    p{
        font-size: large;
        font-weight: bold ;
        margin-top: 40%;
        text-indent: 8px;
    }

    .btn-to-home{
       @extend %button-design;
    }
}
%button-design{
    width: 30% ;
    background-color: darken($base-color,100%) ;
    padding: 7px;
    position: absolute;
    left: 33%;
    bottom: 5%;
    border-radius: 31px;
    transition: width .5s ease-in-out;
    &:hover{
        width: 40%;
    }
}
